<html>
	<head>
		<link type="text/css" href="<% platform %>/css/smoothness/jquery-ui-1.8.22.custom.css" rel="Stylesheet" />
		<link type="text/css" href="<% platform %>/css/loreroller.css" rel="Stylesheet" />
		<script type="text/javascript" src="<% platform %>/javascripts/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="<% platform %>/javascripts/jquery-ui-1.8.22.custom.min.js"></script>
		<script type="text/javascript" src="<% platform %>/loreroller.js"></script>
		<script src="//hangoutsapi.talkgadget.google.com/hangouts/_/api/hangout.js?v=1.1"></script>
	</head>
	<body>
	<% content %>
	</body>
</html>
