#stamina {
	position: relative;
	width: 11em;
}
#lstam {
	position:absolute;
	left:0;
	width: 5em;
	background: lightgrey;
}
#rstam {
	position:absolute;
	left: 5em;
	width: 6em;
	background: lightgrey;
}
#pools {
	position: relative;
	top: -1.25em;
	left: 12em;
	width: 25em;
}
.pools {
	background: lightgrey;
}

.pool_entry {
	width: 8em;
}

.multi {
	margin-left: .5em;
}
.prof {
	margin-left: .5em;
}
#info {
	position: relative;
	top: -15em;
	left: 38em;
	width: 12em;
}

.info {
	background: lightgrey;
	padding-left: .5em;
}
#output {
	position: relative;
	top: -16em;
	left: 0em;
	width: 50em;
}
.output {
	width: 99%;
	background: lightgrey;
	padding-left: .5em;
}

.output ul {
	list-style: none;
	display: inline;
	text-align: left;
}

.output li {
}

#odds {
	top: -21.25em;
	left: 51em;
	display: inline-block;
	position: relative;
	width: 8em;
}

.odds {
	background: lightgrey;
	padding-left: .5em;
}

.odds ul {
	list-style: none;
	display: inline;
}

