#stamina {
	top: -12.25em;
	display: inline-block;
	width: 11em;
}
#lstam {
	position:absolute;
	left:0;
	width: 5em;
	background: lightgrey;
}
#rstam {
	position:absolute;
	left: 5em;
	width: 6em;
	background: lightgrey;
}
#pools {
	display: inline-block;
	width: 25em;
}
.pools {
	background: lightgrey;
}

.pool_entry {
	width: 8em;
}

.multi {
	margin-left: .5em;
}
.prof {
	margin-left: .5em;
}
#info {
	top: -7.25em;
	display: inline-block;
	width: 12em;
}

.info {
	background: lightgrey;
	padding-left: .5em;
}

#odds {
	position: absolute;
	top: .75em;
	left: 50em;
	width: 8em;
}

.odds {
	background: lightgrey;
	padding-left: .5em;
}

.odds ul {
	list-style: none;
	display: inline;
}

#output {
	top: 1em;
	width: 50em;
}
.output {
	width: 99%;
	background: lightgrey;
	padding-left: .5em;
}

.output ul {
	list-style: none;
	display: inline;
	text-align: left;
}

.output li {
}
