ul {
	list-style: none;
	display: inline;
}

.drag {
	position: absolute;
}

#info {
	left: .25em
	width: 12em;
}

.info {
	background: lightgrey;
	padding-left: .5em;
}

#pools {
	left: 12.5em;
	width: 25em;
}
.pools {
	background: lightgrey;
}

.pool_entry {
	width: 8em;
}

.multi {
	margin-left: .5em;
}
.prof {
	margin-left: .5em;
}

#stam {
	left: 38em;
	width: 11em;
}
#lstam {
	position:absolute;
	left:0;
	width: 5em;
	background: lightgrey;
}
#rstam {
	position:absolute;
	left: 5em;
	width: 6em;
	background: lightgrey;
}

#odds {
	left: 49.5em;
	width: 8em;
}

.odds {
	background: lightgrey;
	padding-left: .5em;
}

#output {
	top: 15em;
	left: 3.88em;
	width: 50em;
}
.output {
	width: 99%;
	background: lightgrey;
	padding-left: .5em;
}
