li {
	list-style: none;
}

#stats {
}
#stats input[type=number] {
	width: 3.5em;
}
#skills input[type=number] {
	width: 3.5em;
}

.stamina_left {
	display: inline-block;
	padding-right: .25em;
}

.stamina_right {
	display: inline-block;
}

#stamina {
	width: 12em;
}

.pool_group {
}

.pool {
	display: inline-block;
}

.pool .ui-button-text {
	width: 10em;
	padding-left: .4em; 
	padding-right: .4em; 
	padding-top: 0em; 
	padding-bottom: 0em; 

}

.pool_modifier {
	display: inline-block;
	width: 6em;
}

#prof .ui-button-text {
	width: 2em;
	padding-top: 0em; 
	padding-bottom: 0em; 
}

#mult .ui-button-text {
	width: 2em;
	padding-top: 0em; 
	padding-bottom: 0em; 
}

#roll_button {
	width: 30em;
}

#rolls {
	position: relative;
	white-space: nowrap;
}

#skills .scrollContent {
	display: block;
	height: 200px;
	overflow: auto;
}

#skills .fixedheader {
	display: block;
}

.bottom {
	position: fixed;
	bottom: 0;
}

.bottom .menu {
	display: none;
	background: lightgrey;
	border: 1px solid black;
}

.bottom .header {
	border: 1px solid black;
	background: lightgrey;
}
