table {
	border-collapse:collapse;
}

li {
	list-style: none;
}

#stats {
}
#stats input[type=number] {
	width: 3.5em;
}
#skills input[type=number] {
	width: 3.5em;
}
#skills_list { height: 300px; overflow: auto; }
#inventory_container {
	height: 10em;
	overflow: auto;
}
.display_item dt {
	float: left;
	clear: left;
	width: 7em;
}
.display_item dd {
	float: left;
}
.display_item dd input {
	width: 7em;
}

#roll_details dt {
	float: left;
	clear: left;
	width: 10em;
}
#roll_details dd {
	float: left;
}
#roll_details dd.list {
	float: none;
	clear: left;
}


.stamina_left {
	display: inline-block;
	padding-right: .25em;
}

.stamina_right {
	display: inline-block;
}

#stamina {
	width: 12em;
}

.pool_group {
}

.pool {
	display: inline-block;
}

.pool .ui-button-text {
	width: 10em;
	padding-left: .4em; 
	padding-right: .4em; 
	padding-top: 0em; 
	padding-bottom: 0em; 

}

.pool_modifier {
	display: inline-block;
	width: 6em;
}

#prof .ui-button-text {
	width: 2em;
	padding-top: 0em; 
	padding-bottom: 0em; 
}

#mult .ui-button-text {
	width: 2em;
	padding-top: 0em; 
	padding-bottom: 0em; 
}

#roll_button {
	width: 30em;
}

#rolls {
	position: relative;
	white-space: nowrap;
}

.selected_skill {
	background: lightgrey;
}

#skills .name {
	width: 15em;
}

#skills .rank {
	width: 5em;
}

#skills .scrolled_content {
	overflow-x: auto;
	overflow-y: auto;
}

#odds ul {
	overflow: auto;
}

.bottom {
	position: fixed;
	bottom: 0;
}

.bottom .menu {
	display: none;
	background: lightgrey;
	border: 1px solid black;
}

.bottom .header {
	border: 1px solid black;
	background: lightgrey;
}
