<div id="info" title="Info">
	<ul>
		<li>Abilities
			<div ng-repeat="ability_group in abilities">
				<ul>
					<li ng-repeat="ability in ability_group.abilities">{{ability.name}}: <input type="number" ng-model="ability.value" />
				</ul>
			</div>
		</li>
		<li>Pools
			<div ng-repeat="pool_group in pools">
				<ul>
					<li ng-repeat="pool in pool_group">{{pool.name}}: {{pool.value()}}
				</ul>
			</div>
		</li>
		<li>focus: {{ pools[2][1].value() }}
	</ul>
</div>

<div id="pools" title="Pools">
		<div class="pool_group" ng-repeat="pool_group in pools">
			<div class="pool" ng-repeat="pool in pool_group">
				<input ng-model="$parent.$parent.current_pool" type="radio" name="pools" id="{{pool.name}}" value="{{pool.name}}" />
				<label class="{{pool.class}}" for="{{pool.name}}">{{pool.name}}</label>
			</div>
		</div>
		<div id="mult">
			<span class="pool_modifier">Multiplier</span>
			<input name="mult" type="radio" ng-model="multiplier" id="1x" value="1" />
			<label for="1x">1x</label>
			<input name="mult" type="radio" ng-model="multiplier" id="2x" value="2" />
			<label for="2x">2x</label>
			<input name="mult" type="radio" ng-model="multiplier" id="3x" value="3" />
			<label for="3x">3x</label>
		</div>
		<div id="prof">
			<span class="pool_modifier">Proficiency</span>
			<input name="prof" type="radio" ng-model="proficiency" id="prof1" value="1" />
			<label for="prof1">1</label>
			<input name="prof" type="radio" ng-model="proficiency" id="prof2" value="2" />
			<label for="prof2">2</label>
			<input name="prof" type="radio" ng-model="proficiency" id="prof3" value="3" />
			<label for="prof3">3</label>
			<input name="prof" type="radio" ng-model="proficiency" id="prof4" value="4" />
			<label for="prof4">4</label>
			<input name="prof" type="radio" ng-model="proficiency" id="prof5" value="5" />
			<label for="prof5">5</label>
			<input name="prof" type="radio" ng-model="proficiency" id="prof6" value="6" />
			<label for="prof6">6</label>
		</div>
		<button id="roll_button" ng-click="roll()">Roll</button>

</div>

<div id="stamina" title="Stamina">
	<div class="stamina_left">
		<div ng-repeat="i in [1,2,3,4,5,6]">
			<input type="checkbox" id="s{{$index}}_0" ng-model="stamina[$index][0]" />
			<input type="checkbox" id="s{{$index}}_1" ng-model="stamina[$index][1]" />
			<input type="checkbox" id="s{{$index}}_2" ng-model="stamina[$index][2]" />
			{{ i }}
		</div>
	</div>
	<div class="stamina_right">
		<div ng-repeat="i in [8,10,12,14,16,18]">
			<input type="checkbox" id="s{{$index+6}}_0" ng-model="stamina[$index+6][0]" />
			<input type="checkbox" id="s{{$index+6}}_1" ng-model="stamina[$index+6][1]" />
			<input type="checkbox" id="s{{$index+6}}_2" ng-model="stamina[$index+6][2]" />
			{{ i }}
		</div>
	</div>
</div>

<div id="rolls" title="Rolls">
	<ul>
		<li ng-repeat="roll in rolls" ng-bind-html="$parent.rolls[$index]">
	</ul>
</div>

<div id="skills" title="Skills">
	<button id="open_add_skills" ng-click="add_skills">add skills</button>
	<input type="checkbox" ng-model="show_unknown_skills">Show unknown skills</input>
	<br />
	Search: <input ng-model="skill_search" />
	<table id="skills_table">
		<thead>
			<tr>
				<th>Use</th>
				<th>Skill</th>
				<th>Rank</th>
				<th>Advancing</th>
			</tr>
		</thead>
		<tbody style="height: 300px; overflow: auto;">
			<tr ng-repeat="skill in skills | filter:filter_skills">
				<td><input type="checkbox" ng-model="skill.use" /></td>
				<td>{{skill.name}}</td>
				<td><input type="number" ng-model="$parent.skills[$index].rank" /></td>
				<td><input type="number" ng-model="$parent.skills[$index].advancing" /></td>
			<tr>
		</tbody>
	</table>
</div>

<div id="add_skills" title="Add skills">
	<form ng-submit="add_skill()">
		<label for="skill_ability">Ability:</label>
		<select ng-model="skill_ability" ng-options="item.name for item in select_abilities"></select>
		<br />
		<label for="skill_name">Name:</label>
		<input id="skill_name" type="text" ng-model="skill_name" />
		<label for="skill_rank">Rank:</label>
		<input id="skill_rank" type="number" ng-model="skill_rank" />
		<label for="skill_advancing">Advancing:</label>
		<input id="skill_advancing" type="number" ng-model="skill_advancing" />
		<input type="submit" value="add" />
	</form>
</div>

<div id="save" title="Save/Load character">
	Name:
	<input type="text" ng-model="character_name" />
	<br />
	<button ng-click="save()">Save</button>
	<button ng-click="load()">Load</button>
</div>

<div class="bottom">
	<div id="config" class="menu">
		<div ng-click="toggle('pools')">Pools</div>
		<div ng-click="toggle('rolls')">Rolls</div>
		<div ng-click="toggle('stamina')">Stamina</div>
		<div ng-click="toggle('info')">Info</div>
		<div ng-click="toggle('skills')">Skills</div>
		<div ng-click="toggle('save')">Save/load character</div>
	</div>
	<div class="header" ng-click="toggle_menu()">
		Config
	</div>
</div>
